body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-color: #f0f0f0;
  }
  
  button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #a9db34;
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 10px;
   
  }
  
 